.rating{
    margin-top: 40px;
    width: 100%;
    height: 600px;
    position: relative;
    background-image: url('../../img/img-9.1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.ratingDiv {
    width: 500px;
    height: 300px;
    position: absolute;
    right: 86px;
    top: 105px;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.ratingDivImg{
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
}
.ratingDivComment{
    font-size: 15px;
    opacity: .5;
    text-align: justify;
}
.ratingDivBottom{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ratingImgAndUser{
    display: flex;
    align-items: center;
}
.ratingUserNameAndRating{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.RatingUserName{
    font-size: 20px;
}
.ratingComma{
    font-size: 5rem;
    color: orange;

}