.Header{
    width: 100%;
    height: 300px;
    background: url("../../../img/img-24.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
.HeaderText{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
    padding: 20px;
}
.HeaderText h1{
    font-size: 3rem;
    text-transform: uppercase;

}
.HeaderText p {
    font-size: 30px;
    opacity: 0.6;
}
