.aboutHeader{
    width: 100%;
    height: 500px;
    background: url("../../../img/img-22.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
.aboutText{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
    padding: 20px;
}
.aboutText h1{
    font-size: 3rem;
    text-transform: uppercase;

}
.aboutText p {
    font-size: 30px;
    opacity: 0.6;
}