.tredingWrapper{
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
}
.trendingRight{
   width: 100%;
    overflow-x: hidden;
    position: relative;
    box-shadow: -62px 59px 0px -12px rgba(53,163,163,1);
    -webkit-box-shadow: -62px 59px 0px -12px rgba(53,163,163,1);
    -moz-box-shadow: -62px 59px 0px -12px rgba(53,163,163,1);
}
.trendingLeft {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 20px;
}
.trendingTag{
    color: orange;
    font-size: 20px;
}
.trendingTitle{
    text-transform: capitalize;
    font-size: 3rem;
    margin: 10px 0;
}
.slider-card {
    width: 224px;
    height: 300px;
    background: white;
    border-radius: 14px;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    box-shadow: 2px 2px 2px 2px rgb(0 0 0 / 12%);
    cursor: pointer;
}
.main-slider-container{
    

}

