.blogSideBar{
    /* background-color: rgb(237 236 237); */
    padding: 20px;
    margin-right: 10px;
}

.blogSideBarTop{
    width: 100%;
    margin-bottom: 40px;
}
.blogSideBarItems{
    margin: 0;
    padding: 0;
}
.blogSideBarTitle{
    font-size: 2rem;
    margin-bottom: 10px;
    color: #777;
}
.blogSideBarItem {
    list-style: none;
    font-size: 16px;
    margin: 10px 0;
    color: #555;
}
hr{
    width: 80%; 
    height: 1px;
    background-color: #ccc;
    border: none;

}
.sideBarAdText{
    padding: 20px;
    color: white;
}
.sideBarAdTag{
    font-size: 20px;
    font-weight: 300;
}
.sideBarAdTitle{
    font-size: 30px;
}
.sideBarAdButton{
    border: none;
    background-color: transparent;
    color: orange;
    font-size: 20px;
    
}