.OurAllProduct{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.ourAllProductsWrapper{
    width: 100%;
}
.ourProductsTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ourProductsTag{
    color: orange;
    font-size: 20px;
}
.ourAllProductsTitleAndTag{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.ourProductsTitle{
    font-size: 3rem;
}
.ourPorductsButton{
    border: none;
    background-color: orange;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
}
.BlogBottom{
    width: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat( auto-fill, minmax(200px, 1fr));
    grid-gap: 30px;
}
.blogCard{
    width: 200px;
    padding: 10px;
    box-shadow: 1px 4px 34px -6px rgba(133,133,133,0.75);
    -webkit-box-shadow: 1px 4px 34px -6px rgba(133,133,133,0.75);
    -moz-box-shadow: 1px 4px 34px -6px rgba(133,133,133,0.75);
}
.blogCardImg{
    width: 100%;
    height: 150px;
}
.blogCardTitle{
    font-size: 15px;
    color: #555;
}
.blogCardDescription{
    font-size: 13px;
    margin: 5px 0;
    color: #aaa;
}

.css-bf9wz-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
    color: #fff;
    background-color: orange !important;
}
.ourProductspagination{
    width: fit-content;
    /* margin-bottom: 20px ; */
    margin: 30px auto 20px auto;
}