.shopSideBar{
    /* background-color: rgb(237 236 237); */
    padding: 20px;
    margin-right: 10px;
}

.shopSideBarTop{
    width: 100%;
    margin-bottom: 40px;
}
.shopSideBarItems{
    margin: 0;
    padding: 0;
}
.shopSideBarTitle{
    font-size: 2rem;
    margin-bottom: 10px;
    color: #777;
}
.shopSideBarItem {
    list-style: none;
    font-size: 16px;
    margin: 10px 0;
    color: #555;
}
hr{
    width: 80%; 
    height: 1px;
    background-color: #ccc;
    border: none;

}
.shopSIdeBarBottom{
    width: 100%;
}
.shopSideBarAd1{
    width: 100%;
    height: 500px;
    background-image:
    linear-gradient(to top, #000000c7,rgb(92 16 74 / 68%)),
    url('../../img/img-9.webp');
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.shopSideBarAd2{
    width: 100%;
    height: 300px;
    background-image:
    linear-gradient(to top, #000000c7,rgb(16 25 92 / 68%)),
    url('../../img/img-13.webp');
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}